.body {
    flex: 0.8;
    background: linear-gradient(rgb(23,152,225), rgba(0,0,0,1));
    height: 100vh;
    color: white;
    padding: 30px;
    overflow-y: overlay;
   

    .body::-webkit-scrollbar{
        display: none;
    }

    .body__songs {
        margin: 20px -30px;
    .body__icon {
            display: flex;
            align-items: center;

            .MuiSvgIcon-root {
                margin-right: 20px;
            }
            .body__shuffle {
                font-size: 80px !important;
                margin-left: 50px;
                margin-top: 20px;
                margin-bottom: 20px;
               

                :hover {
                    transition: 100mx transform ease-in;
                    transform: scale(1.08)
                }
            }
        }


    }

  
    .body__info {
        display: flex;
        align-items: flex-end;
        padding: 10px;

        img {
            height: 20vw;
            margin: 0 20px;
            box-shadow: 0 4px 60px rgba(0,0,0,0.8);
        }
    }

    .body__infoText {
        flex: 1;
        

        h2 {
            font-size: 100px;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
        }
    }
}