.login {
    display:grid;
    place-items: center;
    height: 100vh;
    background-color: black;

    img {
        width: 100%;
    }

    a {
        padding: 20px;
        border-radius: 99px;
        background-color: #FE9C02;
        font-weight: 800;
        color: white;
        text-decoration: none;
    }
}