.footer {
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    background-color: #282828;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 98%;

    .footer__albumLogo {
        height: 60px;
        width: 60px;
        margin-right: 20px;
        object-fit: contain;
    }

    .footer__green {
        color: rgb(137, 138, 219);
    }
    .footer__icon:hover{
        transition: transform 0.2s ease-in-out;
        transform: scale(1.2) !important;
        cursor:pointer;
    }

    .footer__green:hover{
        transition: transform 0.2s ease-in-out;
        transform: scale(1.2) !important;
        cursor:pointer;
    }

    .footer__left {
        flex: 0.3;
        display: flex;
        align-items: center;
        color: white;
        max-width: 300px;

    }

    .footer__center {
        flex: 0.4;
        padding: 0 100px;
        color:white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width:300px;
        
    }

    .footer__right {
        flex: 0.3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color:white;

    }

    *.MuiSlider-root {
        color: rgb(137, 138, 219);
    }
}